@use '../1-base/variables';
@use '../1-base/base-mixins';

.products-grid-container {
  flex-wrap: wrap;
}
.products-grid-card {
  border: 1px solid variables.$gray-text-color;
  position: relative;
  width: 21%;
  margin-top: 2rem;
  padding: 1rem;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include base-mixins.mobile {
    margin: 1rem;
    width: 90%;
  }

  &:hover {
    border-color: variables.$primary-color;
    cursor: pointer;
  }

  .products-label {
    text-transform: uppercase;
    border: 1px solid variables.$primary-color;
    color: variables.$primary-color;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 2px 6px;
  }

  .new {
    background-color: variables.$primary-color;
    color: variables.$light-color;
  }

  img {
    margin-top: 2rem;
    width: 60%;
  }

  .products-category,
  .products-name,
  .products-prime,
  .products-rating-box,
  .btn {
    margin-bottom: 1rem;
  }

  .products-category {
    margin-top: 1rem;
    text-transform: uppercase;
    color: variables.$gray-text-color;
  }
  .products-name {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .products-prime {
    color: variables.$primary-color;
    font-size: 1.5rem;
    font-weight: bold;
  }
}
